.pote{background-color: rgb(248, 239, 239)}
.peto{color: rgb(0, 0, 0);}
.col{background-color: rgb(255, 255, 255);}
.card{background-color: rgb(245, 253, 253);}
.container-fluid{background-color: rgb(208, 255, 255);}
.btn btn-primary{}


